header
{
    background-color: green;
    padding: 0;
    border-bottom: 3px solid black;
}
a{
    color: white;
    
}
a:hover{
    background-color:white;
    color: black;
}
ul li a{
    color:black;
    font-weight: bold;
}
.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    

}
a.logo{
    font-weight: bold;
    padding: 1em;
}
nav ul{
    list-style-type: none;
    margin: 0;
}
nav ul li a{
    padding: 1em;
    display: inline-block;
}